/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/
.text-white{
    color: white;
}

.task-done{
    text-decoration: line-through;
    background-color: rgba(46, 216, 66, 0.8);
    border-radius: 10px;
}

.task-undone{
    background-color: lightgray;
    border-radius: 10px;
}

.red-color{
    color: rgb(149, 32, 32);
}

.green-color{
    color: rgba(20, 220, 30, 0.8);
}

ul{
    list-style: none;
}

.c-point{
    cursor: pointer;
}

/* 
    header 
*/

/* 
    main 
*/

/* 
    footer 
*/
