/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/

.task-done{
    text-decoration: line-through;
    background-color: rgba(0, 255, 0, 0.7);
}

/* 
    header 
*/

/* 
    main 
*/

/* 
    footer 
*/
